.restaurants {
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-auto-flow: row;
    gap: 15px;
    padding-right: 8px;
    background-color: #fafafa;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      padding-right: 0;
    }
  }

  &__left-menu {
    height: 100vh;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__show-results {
    @media (max-width: 991px) {
      padding: 0 10px;
    }
  }

  &__title-city {
    font-size: 25px;
    margin: 30px 0 30px 0;

    @media (max-width: 991px) {
      text-align: center;
      font-size: 18px;
    }
  }

  &__results-grid {
    display: grid;
    justify-items: center;
    gap: 30px 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: auto;
    margin-bottom: 60px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
}
